html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 10px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.center {
    margin: 0 auto;
}

.header {
    font-size: 3rem;
    padding: 2rem;
    width: 100vw;
    height: 8rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    font-family: 'Press Start 2P';
    color: rgb(59, 255, 128);
}

.line {
    width: 100%;
    height: .5rem;
    background-color: rgba(4, 151, 55, 0.793);
}

.img-user {
    width: 5rem;
    height: 5rem;
}

.together {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.user {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(2px);
    z-index: -1;
}

.green {
    max-width: 120rem;
    min-height: 20rem;
    background-color: rgba(4, 151, 55, 0.793);
    border-radius: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
    padding: 5rem, 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P';
    color: white;
    font-size: 2rem;
    margin-right: 2rem;
}

.pop-up {
    display: inline;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.pop-up-content {
    width: 35rem;
    height: 50rem;
    background-color: rgba(0, 0, 0, 0.793);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Press Start 2P';
    padding: 2rem;
    font-size: 2rem;
}

.login {
    text-align: center;
    color: #049737;
    font-size: 3rem;
}

.form-login {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.int {
    height: 5rem;
    width: 30rem;
    background-color: black;
    border: black 0.1rem solid;
    border-radius: 2rem;
    color: white;
    padding-left: 2rem;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.3s;
}

.button {
    height: 6rem;
    width: 15rem;
    background-color: black;
    color: white;
    border-radius: 2rem;
    transition: 0.3s;
    margin-top: 4rem;
}

.check {
    margin-top: -4rem;
    margin-right: -25rem;
}




